
@{
    ViewData["Title"] = "Contact Us";
}
<head>
    <style>
    .contact-info {
    margin-top: 20px;
    font-size: 18px;
    }
    .contact-info p {
    margin-bottom: 10px;
    }
    .contact-info strong {
    font-weight: bold;
    }
    </style>
</head>
<body>
    <img src="/Images/Artboard 4.png" alt="Artwork 4" class="Contact-image">
<div class="contact-info">
    <p><strong>Telephone:</strong> 033 330 7716</p>
    <p><strong>Email address:</strong> <a href="mailto:Sales@KhumaloCraft.co.za">Sales@KhumaloCraft.co.za</a></p>
    <p><strong>For serious enquiries only:</strong> <a href="mailto:James@KhumaloCraft.co.za">James@KhumaloCraft.co.za</a></p>
</div>
</body>
